body{
    background-color: rgb(240, 234, 148);
    color: black;
}

h1{
    font-size: 50px;
}

table{
    font-size: 30px;
    
}

thead{
    color: rgb(32, 31, 83);
}

a:hover{
    color: red;
}

button{
    font-size: 20px;
    background-color:wheat;
}