header .navbar .container .collapse .navbar-nav .nav-item .dropdown-menu a:hover{
    background-color:dimgrey;  
}

main .cards .card{
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}

main .cards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

main .container .row .col-12 .card:hover{
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

main .row .col-12 .card:hover{
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

