
.listaBarra{   
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333; 
}

.linkBarra{
    float: left;
}

.barra{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}