*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(188, 227, 243);
    color: black;
}

h1{
    font-size: 50px;
    margin: 80px;
}

#titulo{
    font-size: 60px;
    margin-bottom: 0px;
}

h2{
    margin: 60px;
    font-size: 35px;
}

table{
    font-size: 30px;
    width: 50%;
}

table th{
    text-align: left;
}

thead{
    color: rgb(32, 31, 83);
}

a:hover{
    color:black;
    background-color: rgb(188, 227, 243);
}

a{
    color: black;
}

ul{
    font-size: 28px;
    list-style: none;
    margin: 0px 10px;
    margin-top: 0px;
}

p{
    font-size: 22px;
}

fieldset{
    padding-right: 1px;
}

#foto{
    float: inline-start;
    margin-top: 0;
    border-radius: 50px;
    margin-left: 80px;
    
}

#encabezado{
    margin-left: 120px;
    margin-top: 10px;
    padding-top: 0;
}

div{
    float: left;
}

img.oculto{
    display: none;
    float:none;
    margin-right: 80px;
}

button:hover div.contenedor img.oculto {
    display:block
    }

